<mat-toolbar color="primary" class="header-toolbar">
  <span class="logo" routerLink="">Droply</span>
  <span class="spacer"></span>



  <ng-container *ngIf="!(authService.isLoggedIn$ | async)">
    <button mat-button routerLink="/login">Iniciar sesión</button>
    <button mat-stroked-button routerLink="/signup">Registrarse</button>
  </ng-container>

  <ng-container *ngIf="authService.isLoggedIn$ | async">
    <span class="welcome-message">
      Bienvenid&#64; de nuevo,  {{ authService.getUsername() }}
    </span>
    <button mat-button routerLink="/water-source">Añadir fuente</button>
    <button mat-button [matMenuTriggerFor]="menu">Menú</button>
    <mat-menu #menu="matMenu">
      <button *ngIf="(authService.isAdmin$ | async)" mat-menu-item routerLink="/admin">Administrador</button>
      <button *ngIf="!(authService.isAdmin$ | async)" mat-menu-item routerLink="/profile">Perfil</button>
      <button mat-menu-item (click)="logout()">Cerrar sesión</button>
    </mat-menu>
  </ng-container>
</mat-toolbar>