<div class="login-container">
  <mat-card *ngIf="registrationSuccess" class="success-card">
    <div class="success-text">
      <mat-icon>check_circle</mat-icon>
      ¡Registro correcto! Ahora puedes iniciar sesión.
    </div>
  </mat-card>

  <mat-card class="login-card">
    <mat-card-title class="login-title">Iniciar sesión</mat-card-title>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" autocomplete="email" required>
        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
          El email es obligatorio
        </mat-error>
        <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
          Introduce un email válido
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="password" type="password" autocomplete="current-password" required>
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
          La contraseña es obligatoria
        </mat-error>
      </mat-form-field>
      <mat-checkbox formControlName="rememberMe">Recordarme</mat-checkbox>
      <button mat-raised-button color="primary" class="full-width login-button" [disabled]="loginForm.invalid">
        Entrar
      </button>
      

    </form>
    <div class="register-link">
      ¿No tienes cuenta? <a routerLink="/signup">Regístrate aquí</a>
    </div>
    <mat-error *ngIf="loginError" class="error-message">
      {{ loginError }}
    </mat-error>
  </mat-card>
</div>
