<footer class="footer">
  <div class="footer-links">
    <a routerLink="/privacy-policy">Política de privacidad</a>
    <a routerLink="/cookies-policy">Cookies</a>
  </div>

  <div class="footer-social">
    <a href="https://facebook.com" target="_blank" rel="noopener noreferrer" aria-label="Facebook">Facebook</a>
    <a href="https://twitter.com" target="_blank"  rel="noopener noreferrer" aria-label="Twitter">Twitter</a>
    <a href="https://instagram.com" target="_blank"  rel="noopener noreferrer" aria-label="Instagram">Instagram</a>
  </div>
   <p>&copy; {{currentYear}} Droply - Juntos hacemos las ciudades más sostenibles</p>
</footer>
